{% extends 'layouts/page.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

  {% block content %}
  <div class="custom-page">
    {{ appHeading({
      text: "Your data"
    }) }}

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body" data-testid="app-page-body">
          <h1 class="govuk-heading-l">
          </h1>
          <form method="post" novalidate>
            <input type="hidden" name="crumb" value="{{ crumb }}">
            <input type="hidden" name="action" value="validate">

             {{ govukInput({
                label: {
                  text: "What is your name?"
                },
                id: "name",
                name: "firstName",
                value: context.state.firstName,
                errorMessage: errorMessage
              }) 
            }}

            <label>How much do you like this service?</label><br/>
            <input type="range" min="1" max="10" value="5" id="rating" name="rating">
            <span id="sliderValue">5</span>
            <br/>
            <br/>
            <br/>
            {{ govukButton({
              text: "Continue",
              isStartButton: isStartPage,
              preventDoubleClick: true
            }) }}
          </form>
        </div>
      </div>
    </div>

<script>
const slider = document.getElementById("rating");
const output = document.getElementById("sliderValue");

slider.oninput = function() {
    output.innerHTML = this.value;
}
</script>

    {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
      {% include "partials/debug.html" %}
    {% endif %}
    </div>
  {% endblock %}
